[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
graphene = "*"
starlette-graphene3 = "*"
psycopg2 = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
